{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-4">
          <h2 class="text-center mb-4">Iniciar Sesión</h2>
          <form method="post">
              {% csrf_token %}
              <div class="form-group mb-3">
                  <label for="username">Nombre de Usuario</label>
                  {{ form.username }}
              </div>
              <div class="form-group mb-3">
                  <label for="password">Contraseña</label>
                  {{ form.password }}
              </div>
              {% if form.errors %}
                  <div class="alert alert-danger">
                      {% for field in form %}
                          {% for error in field.errors %}
                              <p>{{ error }}</p>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <p>{{ error }}</p>
                      {% endfor %}
                  </div>
              {% endif %}
              <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
          </form>
      </div>
  </div>
</div>
{% endblock %}