{% extends "base.html" %}

{% block title %}
 Bodega
{% endblock %}


{% block content %}
<h2 class="text-center">Vinos Disponibles</h2>
<div class="container text-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for item in bodega %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ item.foto.url }}" class="card-img-top" alt="Foto de {{ item.nombre }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.nombre }}</h5>
            <p class="card-text">Precio: {{ item.precio }}</p>
            <p class="card-text">Cantidad en stock: {{ item.cantidad_stock }}</p>
            <form method="post" action="{% url 'agregar-al-carrito' item.id %}">
              {% csrf_token %}
              <div class="input-group mb-3">
                <input type="number" name="cantidad" value="0" min="1" max="{{ item.cantidad_stock }}" class="form-control">
                <button type="submit" class="btn btn-primary ms-2">Agregar al carrito</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
<!-- PAGINATION -->
<div class="row mt-3 justify-content-center">
  <div class="">
    <nav>
      <ul class="pagination">
        <!-- Estoy en una página del medio por lo cual puedo ir para atra -->
        {% if bodega.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">Primera</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ bodega.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
        <!-- Si estoy en la primera página entonces deshabilito el botón 1 ya que no hay página previa -->
          <li class="page-item disabled">
            <a class="page-link" href="?page=1">Primera</a>
          </li>
        {% endif %}
        <!-- Si hay página siguiente entonces habilito el botón de la página siguiente y el de la última -->
        {% if bodega.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ bodega.next_page_number }}">&raquo;</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ bodega.paginator.num_pages }}">Última</a>
          </li>
        {% else %}
        <!-- No hay página siguiente por lo cual estoy en la última, entonces deshabilito el botón de la última página -->
        <li class="page-item disabled">
          <a class="page-link" href="#">Última</a>
        </li>  
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
