<!-- detalle_pedido.html -->
{% extends "base.html" %}

{% block content %}
<h2>Detalle del Pedido</h2>
<p>ID del Pedido: {{ pedido.id }}</p>
<p>Fecha: {{ pedido.fecha }}</p>
<p>Total: {{ pedido.monto_total }}</p>
{% if pedido.completado %}
    <p>Estado: Finalizado</p>
{% else %}
    <p>Estado: En curso</p>
{% endif %}

<h3>Items del Pedido</h3>
<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pedido_items %}
        <tr>
            <td style="width: 8%;"><img class="img-fluid" src="{{ item.item.foto.url }}" alt="Foto"/></td>
            <td>{{ item.item.nombre }}</td>
            <td>{{ item.cantidad_seleccionada }}</td>
            <td>{{ item.item.precio }}</td>
            <td>{{ item.subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
