{% block content %}
<!-- .....::::: Start Footer Section :::::..... -->
  <footer class="footer-section section-padding text-center">
   <div class="container">
     <!-- Start Footer Top -->
     <div class="footer-top footer-bottom-gap-60">
       <div class="row">
         <div class="col-12">
         </div>
       </div>
     </div>
     <!-- End Footer Top -->
     <!-- Start Footer Middle -->
     <div class="footer-middle footer-bottom-gap-60">
       <div class="row">
         <div class="col-12">
           <!-- Start Footer Navigation -->
           <ul class="footer-nav">
             <li><a href="#">Company</a></li>
             <li><a href="#">Service</a></li>
             <li><a href="#">Contact</a></li>
             <li><a href="#">Review & Media</a></li>
           </ul>
           <!-- End Footer Navigation -->
         </div>
       </div>
     </div>
     <!-- End Footer Middle -->
     {% comment %} <!-- Start Footer Bottom -->
     <div class="footer-bottom footer-bottom-gap-60">
       <div class="row">
         <div class="col-12">
           <!-- Start Footer Social -->
           <ul class="footer-social">
             <li><a href="http://example.com/" target="_blank" rel="noopener noreferrer"><i class="ion-social-twitter"></i></a></li>
             <li><a href="http://example.com/" target="_blank" rel="noopener noreferrer"><i class="ion-social-facebook"></i></a></li>
             <li><a href="http://example.com/" target="_blank" rel="noopener noreferrer"><i class="ion-social-googleplus"></i></a></li>
             <li><a href="http://example.com/" target="_blank" rel="noopener noreferrer"><i class="ion-social-instagram-outline"></i></a></li>
             <li><a href="http://example.com/" target="_blank" rel="noopener noreferrer"><i class="ion-social-rss"></i></a></li>
           </ul>
           <!-- End Footer Social -->
         </div>
       </div>
     </div>
     <!-- End Footer Bottom --> {% endcomment %}
   </div>
</footer>
{% endblock %}