<!-- historial_pedidos.html -->
{% extends "base.html" %}

{% block content %}
<h2>Historial de Pedidos</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID del Pedido</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.fecha }}</td>
            <td>{{ pedido.monto_total }}</td>
            <td>
                <a href="{% url 'detalle_pedido' pedido.id %}">Ver Detalles</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
