{% extends "base.html" %}

{% block title %}
Carta-Digital
{% endblock %}

{% block content %}
  {% if messages %}
    <div class="container mt-4">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  
  <h2 class="text-center">Items Disponibles</h2>
  
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for item in items %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ item.foto.url }}" class="card-img-top" alt="Foto de {{ item.nombre }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.nombre }}</h5>
            <p class="card-text">Precio: {{ item.precio }}</p>
            <p class="card-text">Cantidad en stock: {{ item.cantidad_stock }}</p>
            <form method="post" action="{% url 'agregar-al-carrito' item.id %}">
              {% csrf_token %}
              <div class="input-group mb-3">
                <input type="number" name="cantidad" value="0" min="1" max="{{ item.cantidad_stock }}" class="form-control">
                <button type="submit" class="btn btn-primary ms-2">Agregar al carrito</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  <!-- PAGINATION -->
  <div class="row mt-3 justify-content-center">
    <nav>
      <ul class="pagination">
        {% if items.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">Primera</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ items.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="?page=1">Primera</a>
          </li>
        {% endif %}
        
        {% if items.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ items.next_page_number }}">&raquo;</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ items.paginator.num_pages }}">Última</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Última</a>
          </li>  
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock %}
