    {% block content %}
    {% load humanize %}
    <!-- .....::::: Start Food Item Section :::::..... -->
    <div class="food-item-section section-padding section-top-gap section-inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-content section-content-gap text-center">
              <h6 class="sub-title">special menu</h6>
              <h2 class="title">Delicious Flavour Of Autumn</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="product-item-slider-3grids-1row default-slider-nav-arrow">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <!-- Start Product Single Item  -->
                   {% for item in items %}
                  <div class="product-single-item swiper-slide">
                    <div class="product-top">
                      <div class="image">
                        <img src="{{item.foto.url}}" alt="">
                      </div>
                      <div class="price-border"><span class="price">${{item.precio|intcomma}}</span></div>
                    </div>
                    <div class="content">
                      <h5 class="title"><a href="#">{{item.nombre}}</a></h5>
                      <p>{{item.categoria}}</p>
                    </div>
                  </div>
                  {% endfor %}
                  <!-- End Product Single Item  -->
              </div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
  
            {% comment %} <a href="#" class="text-link mt-120 d-block text-center">View Full Menu</a> {% endcomment %}
  
          </div>
        </div>
      </div>
    </div>
    <!-- .....::::: End Food Item Section :::::..... -->
{% endblock %}