{% extends "base.html" %}

{% block title %}
Menús
{% endblock %}

{% block content %}
<h1>Menús Disponibles</h1>
<div class="container text-center">
    <div class="row">
      {% for menu in menus %}
      <div class="col-md-3">
        {{ menu.nombre }} - Precio: {{ menu.precio }}
        <form method="post" action="{% url 'actualizar_cantidad' menu.id %}">
          {% csrf_token %}
          <div class="input-group">
              <input type="number" name="cantidad" value="{{ menu.cantidad_seleccionada }}" min="1" max="{{ menu.cantidad_stock }}" class="form-control">
              <button type="submit" class="btn btn-primary ms-2">Actualizar</button>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="{{ menu.foto.url }}" alt="Foto"/>
      </div>
      {% endfor %}
    </div>
  </div>
<!-- PAGINATION -->
<div class="row mt-3 justify-content-center">
  <div class="">
    <nav>
      <ul class="pagination">
        <!-- Estoy en una página del medio por lo cual puedo ir para atrás -->
        {% if menus.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">Primera</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ menus.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
        <!-- Si estoy en la primera página entonces deshabilito el botón 1 ya que no hay página previa -->
          <li class="page-item disabled">
            <a class="page-link" href="?page=1">Primera</a>
          </li>
        {% endif %}
        <!-- Si hay página siguiente entonces habilito el botón de la página siguiente y el de la última -->
        {% if menus.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ menus.next_page_number }}">&raquo;</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ menus.paginator.num_pages }}">Última</a>
          </li>
        {% else %}
        <!-- No hay página siguiente por lo cual estoy en la última, entonces deshabilito el botón de la última página -->
        <li class="page-item disabled">
          <a class="page-link" href="#">Última</a>
        </li>  
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
