{% extends "base.html" %}

{% block title %}
Carta-Digital
{% endblock %}

{% block content %}
    <h1>Buscar Items</h1>
    <form method="GET" action="{% url 'search-view' %}" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" name="searched" value="{{ searched }}" placeholder="Buscar..." class="form-control">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <select name="categoria" class="form-control">
                <option value="">Todas las categorías</option>
                {% for categoria in categorias %}
                <option value="{{ categoria.id }}" {% if categoria.id|stringformat:"s" == categoria_seleccionada|stringformat:"s" %}selected{% endif %}>{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
    </form>
        {% if filtro %}
            <h1>Items Disponibles</h1>
            <div class="container text-center">
                <div class="row">
                {% for item in filtro %}
                <div class="col-md-3">
                    {{ item.nombre }} - Precio: {{ item.precio }}
                    <form method="post" action="{% url 'actualizar_cantidad' item.id %}">
                      {% csrf_token %}
                      <div class="input-group">
                          <input type="number" name="cantidad" value="1" min="1" max="{{ item.cantidad_stock }}" class="form-control">
                          <button type="submit" class="btn btn-primary ms-2">Agregar al Carrito</button>
                      </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <img class="img-fluid" src="{{ item.foto.url }}" alt="Foto"/>
                </div>
                {% endfor %}
                </div>
            </div>
            <!-- PAGINATION -->
            <div class="row mt-3 justify-content-center">
                <div class="">
                    <nav>
                        <ul class="pagination">
                            <!-- Mostrar las páginas en el medio -->
                            {% for page_num in total_pages %}
                                {% if page_num == current_page %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">{{ page_num }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?searched={{ searched }}&categoria={{ categoria_seleccionada }}&page={{ page_num }}">{{ page_num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% else %}
            <h2 style="color:white;">No hay resultados para la palabra "{{ searched }}"</h2>
        {% endif %}
{% endblock %}
